@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 700;
  font-family: Roboto-Bold;
  src: url("../fonts/Roboto-Bold.ttf");
}
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  overflow-x: hidden;
  color: #cacaca;
  font-size: 16px;
  font-family: roboto, sans-serif;
  line-height: 1.5;
  background-color: #08020d;
}

h1 {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  text-transform: uppercase;
}

h2 {
  margin: 0;
  font-weight: 700;
  font-size: 38px;
  line-height: 57px;
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container-20 {
  padding: 0 20px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-24 {
  margin-right: 24px;
}

.btn {
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

.heading {
  margin-bottom: 48px;
  color: #fff;
  font-size: 38px;
  font-family: Roboto-Bold, sans-serif;
  line-height: 57px;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 620px) {
  .heading {
    margin-bottom: 48px !important;
    font-size: 18px !important;
    line-height: 27px !important;
  }
}
.header {
  position: absolute;
  top: 25px;
  width: 100%;
  color: #fff;
}
.header .header-cont {
  width: 100%;
  height: 25px;
  display: flex;
  /* align-items: center;
  justify-content: space-between; */
  flex-wrap: wrap;
}
.header .logo {
  display: flex;
  align-items: center;
  height: 25px;
  margin-right: 90px;
  font-size: 11px;
}
.header .nav {
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  list-style-type: none;
  justify-content: left;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}
.header .nav-item {
  text-decoration: none;
  padding-right: 24px;
  color: #fff;
  font-size: 11px;
  line-height: 16px;
  color: #cacaca;
}
.header img {
  width: 24px;
  height: 24px;
}
.header .search-input {
  width: 248px;
  min-width: 248px;
  min-height: 27px;
  padding-left: 10px;
  text-transform: uppercase;
  background-color: #3c3b3d;
  border: none;
  border-radius: 50px;
  outline: none;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.page-description {
  background-image: url(/images/banner.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  box-sizing: border-box;
}
.page-description .banner {
  padding: 200px 0;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}
.page-description h2 {
  margin-bottom: 31px;
}
.page-description .form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 570px;
  margin: 0 auto;
  color: #fff;
}
.page-description input {
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  border: 2px solid #cacaca;
  border-radius: 3px;
  background-color: transparent;
  color: #fff;
  box-sizing: border-box;
  font-size: 14px;
}
.page-description .btn {
  width: 100%;
  padding: 20px 30px 20px 30px;
  border-radius: 5px;
  background: #34C176;
  color: #fff;
  border: none;
  font-size: 13px;
}

.page-pricing {
  text-align: center;
}

@media (max-width: 415px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    text-transform: uppercase;
  }
  h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .page-description {
    padding: 0 20px;
  }
  .page-description h1 {
    margin-top: 50px;
  }
  .page-description h2 {
    margin-bottom: 16px;
  }
  .page-description input {
    flex-grow: 1;
  }
  .page-description p {
    margin: 14px 0;
  }
  .header {
    padding: 0 20px;
  }
  .header .nav {
    flex-direction: column;
    padding-right: 150px;
  }
  .header .nav-item {
    margin-bottom: 3px;
    /*  line-height: 13px; */
  }
  .header .search-box {
    width: 100%;
  }
  .header .search-input {
    width: 100%;
  }
}/*# sourceMappingURL=app.css.map */