@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    color: #cacaca;
    background-color: #08020d;
    max-width: 100%;
    overflow-x: hidden;
}

header {
 position: absolute;
 top: 25px;
 box-sizing: border-box;
 width: 1240px;
 padding: 0 20px;
 margin: 0 auto;
 
 
}

.header-section {
 display: flex;
 justify-content: space-between;
 width: 100%;
}

img {
    width: 24px;
    height: 24px;
}

.logo {
    width: 24px;
    height: 24px;
}

.header-item {
    
}
/* DESKTOP */

@media (orientation: landscape) and (min-width: 1240px) {
h1 {
    font-size: 60px;
    line-height: 90px;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font-size: 38px;
    line-height: 57px;
    font-weight: bold;
    text-transform: uppercase;
}
}

/* MOBILE */

@media (orientation: portrait) {
h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
}
}